$font: "Space Grotesk";

$size-title: 18px;
$size-text: 13px;

$color-primary: #f97316;
$color-primary-light: #fb923c;
$color-gray: #a8a29e;
$color-gray-light: #d6d3d1;
$color-gray-lightest: #f5f5f4;

$break-point: 769px;

$shadow: 0px 0px 6px 0px rgba(200, 200, 200, 0.5);
